div {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

span {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  height: 70%;
  justify-content: center;
  width: 70%;
}
